<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <verbs allowUnlisted="false"> <!-- Change to true to allow methods not listed -->
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <!-- Add any other methods you wish to allow -->
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>

