
 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Lit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Store</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Books
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/booklist">Catalog</a>
            <a class="dropdown-item" href="#">Popular</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Favorites</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li>
         <!-- <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #search>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchDatabase(search.value)">Search</button>
          </form>--><app-searchbox [router]="router"></app-searchbox> 
        </li>
      </ul>
      
      <div *ngIf="hasUser(); else elseBlock">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="navigateToHome()">Logout</button>
      </div>
      <ng-template #elseBlock>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="navigateToRegister()">Register</button>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="navigateToLogin()">Login</button>
      </ng-template>
      
      
    </div>
  </nav> 
  
  
 
 


 