.logo {
    /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
  margin-top: 20pt;
  text-align: center;
}

body {
    background-color: antiquewhite;
}

.container {

  padding: 1%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

.description{
  background-color: white;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  font-size: 20px;

}