<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href = "booklist.component.css">
</head>
<header>
    <h1> NAVBAR </h1>
</header>

<body>

<h1>This is where I'd put my table of books... IF I HAD ONE !!!!!</h1>
<p> or could get it lol</p>

<div class="table">
<table>
    <tr class="records">
      <th>Book Name</th>
      <th>Author</th>
      <th>Publish date</th>
      <th>Book details</th>
    </tr>
    <tr class="records">
        <th>The name of the wind</th>
        <th>Peter Rothfuss</th>
        <th>200s</th>
        <th>amazing book</th>
    </tr>
    
  </table>
</div>

</body>

</html>
