.BG{
    background-color: antiquewhite;
}
.tableDiv{
    background-color: antiquewhite;
}
.table{
    background-color: yellowgreen;
    margin: 50pt;
    width: fit-content;
}
.records{
    background-color: yellowgreen;
}
.TD{
    width:750pt;
}
.title1{
    margin-left: 250pt;
    margin-top: 100pt;
}
.mainContent{
    display: flexbox;
}