<head>
    <link rel="stylesheet" href = "booklist.component.css">
</head>

<body class="BG" onload="getAllBooksAsynAwait()">

<header>
    <app-navbar></app-navbar>
</header>



<h1>This is where I'd put my table of books... IF I HAD ONE !!!!!</h1>
<p> or could get it lol</p>

<div class="tableDiv">
<table id = "book-table" class="table table-striped table-hover">
    <thead>
      <th>Book Name</th>
      <th>Author</th>
      <th>Publish date</th>
      <th>Book details</th>
    </thead>
    <tbody>
      <tr class="records" *ngFor="let book of books">
        <th>{{book.title}}</th>
        <th>{{book.author}}</th>
        <th>{{book.isbn}}</th>
        <th>{{book.categoryName}}</th>
    </tr>
    </tbody>
  </table>
</div>
<script>src = "booklist.component.ts"</script>

</body>


