<div class="card">
  <h1 class="card-header">Register</h1>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <label class="form-label">First Name: </label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{'is-invalid':submitted&&this.form.controls['firstName'].errors}"/>
        <div *ngIf="submitted && this.form.controls['firstName'].errors" class="invalid-feedback">
          <div *ngIf="this.form.controls['firstName'].errors?.['required']">First Name is Required!
          </div>
        </div>
      </div>
      <div class="mb-5">
        <label class="form-label">First Name: </label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{'is-invalid':submitted&&this.form.controls['firstName'].errors}"/>
        <div *ngIf="submitted && this.form.controls['firstName'].errors" class="invalid-feedback">
          <div *ngIf="this.form.controls['firstName'].errors?.['required']">First Name is Required!
          </div>
        </div>
      </div>
      <div>
        <label>UserName: </label>
        <input type="text" formControlName="username"/>
      </div>
      <div>
        <label>Password: </label>
        <input type="password" formControlName="password">
      </div>
      <div>
        <button [disabled]="loading">
          <span *ngIf="loading"></span>
          Register
        </button>
        <a routerLink="../login">Cancel</a>
      </div>
    </form>
  </div>
</div>
