
<h1 style="text-align: center;">User Info</h1>
<table style=" margin: 0 auto; border: 1">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>  
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
    </tr>
    <tr>
        <!--Thinking here is where we use string interprolation like {{username}} -->
      <!-- <td>{{this.user.firstName}}</td>
      <td>{{this.user.lastName}}</td>
      <td>{{this.user.username}}</td>
      <td>{{this.user.password}}</td>
      <td>{{this.user.email}}</td> -->
    </tr>
  </table>
<br>
<button style="display:block; margin: 0 auto;" (click)="EditUserInfo()" >EditInfo</button>
