<div class="background">
    <div class="container">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-header">
                <h3>Book Title by Author</h3>
            </div>
            <div class="card-body">
                <h6 class="card-title text-coral">Details</h6>
                <p class="card-text text-muted">ISBN: 00000000000</p>
                <p class="card-text text-coral">Category: Mystery</p>
                <hr>
                <h4 class="mb-3 text-coral">Review</h4>
                <p class="card-text">I like this book.</p>
                <a href="#" class="btn btn-primary">Add to Wishlist</a>
            </div>
        </div>
    </div>
</div>